@charset "utf-8";
/* CSS Document */
<style>
	*{
		margin:0px;
		padding:0px;
	}
	header,section,footer,aside,nav
	{
		display:block;
	}
	html
	{
		padding:0px;
		width:100%;
		height:100%;
		overflow:hidden;
		background-color:#595a59;
		scrollbar-face-color:#595959;
		
	}
	body
	{
		width:100%;
		overflow:hidden;
		display:-webkit-box;
		-webkit-box-pack:center;
		-moz-box-pack:center;
		background-color:#595a59;
		
		scrollbar-face-color:#595959;
	}
	#big_wrapper
	{
		max-width:1024px;
		margin:5px 0px;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-flex:1;
		-moz-box-orient:vertical;
		-moz-box-flex:1;
	}

	#top_menu
	{
		display:-webkit-box;
		height:40px;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-box-ordinal-group:1;
		-moz-box-ordinal-group:1;
		margin:1px 2px 1px 2px;
		padding:2px;
		background:#848284;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}
	#top_menu li{
		display:inline-block;
		list-style:none;
		font:bold 14px Tahoma, Geneva, sans-serif;
	}
	#new_div
	{
		display:-webkit-box;
		-webkit-box-orient:horizontal;
		-moz-box-orient:horizontal;
	}
	#side_nav
	{
		width:210px;
		margin:1px;
		height:50%;
		background:#313031;
		overflow-y:scroll;
		overflow-x:hidden;
		display:-webkit-box;
		-webkit-box-pack:center;
		-moz-box-pack:center;
		
	}
	#main_section
	{
		margin:5px;
		border:2px solid #FFFF00;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		display:-webkit-box;
		-webkit-box-pack:center;
		-moz-box-pack:center;
	}
	#foot
	{
	text-align: center;
	padding: 10px;
	border-top: 2px solid #525152;
	color: white;
	}
	input[type="button"]
	{
		width:32px;
		height:32px;
		display:inline-block;
		border:none;
		margin:0px;
	}
	#pointer
	{
		background:url(img/pointer.png) no-repeat;
	}
	#zoom
	{
		background:url(img/zoom.png) no-repeat;
	}
	#move
	{
		background:url(img/move.png) no-repeat;
	}
	#ilayout
	{
		background:url(img/ilayout.png) no-repeat;
	}
	#slayout
	{
		background:url(img/slayout.png) no-repeat;
	}
	#WWWL
	{
		background:url(img/WWWL.png) no-repeat;
	}
	#invert
	{
		background:url(img/invert.png) no-repeat;
	}
	#info
	{
		background:url(img/info.png) no-repeat;
	}
	#left
	{
		background:url(img/90left.png) no-repeat;
	}
	#right
	{
		background:url(img/90right.png) no-repeat;
	}
	#Hflip
	{
		background:url(img/Hflip.png) no-repeat;
	}
	#Vflip
	{
		background:url(img/Vflip.png) no-repeat;
	}
	#reset
	{
		background:url(img/reset.png) no-repeat;
	}
	#save
	{
		background:url(img/save.png) no-repeat;
	}
	#stack
	{
		background:url(img/stack.png) no-repeat;
	}
	#line
	{
		background:url(img/line.png) no-repeat;
	}
	#angel
	{
		background:url(img/angel.png) no-repeat;
	}
	#HU
	{
		background:url(img/HU.png) no-repeat;
	}
	.divSep
	{
		display:inline-block;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		background:#EFEFEF;
		border:black 1px solid;
		margin-right:20px;
	}
	.buttonList
	{
		display:-webkit-box;
		display:-moz-box;
		padding:5px;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-box-ordinal-group:1;
		-moz-box-ordinal-group:1;
		margin:1px 2px 1px 2px;
		background:#EFEFEF;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}	
	</style>
